@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');

    *{
    margin: 0;
    padding: 0;
    border: none;
}
#cover-text h2 {
    color: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    position: relative;
    height: 100%;

}


/* Headlines and Logos */

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
   
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 180%;
    margin-left: 35px;
}

/* Navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
border-bottom: 2px solid #7b6cd5;
}

.active {
    border-bottom: 1px solid #7b6cd5;
}

/* Hero image */

#hero-outer {
    height: 600px;
    width: 100%;
   overflow: hidden;
    position: relative;
    }


#cover-text {
color: #ffffff;
font-size: 130%;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;


width: 600px;
height: 200px;

padding-top: 40px;
padding-left: 10px;

bottom: 180px;
right: 150px;
position: absolute;
}

#hero-image {

    height: 600px;
    width: 100%;
    background-image: url('../images/temple.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;

/* Animates zoom effect on loading */
   animation-name: hero-zoom;
   animation-duration: 4s;
    animation-fill-mode: forwards;
}


/* Creates the effect of zoom for hero */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1)
    }
}

/* Club Yoga */

#club-yoga {
height: 600px;
padding-bottom: 50px;

}

#left-about {

    padding-top: 30px;
    width: 33%;
    float: left;
   
}

#right-about {

    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
width: 33%;
margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;

}
#icon-right{
    margin-bottom: 8px;
    
}
#icon-left{
    margin-bottom: 8px;
    
}


.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    
}
.left-about-heading h2{

    font-style: italic;
    margin-bottom: 8px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
.right-about-heading h2 {
text-align: right;
font-style: italic;
margin-bottom: 8px;
}

.right-about-heading p {
text-align: right;

}

#welcome {
    text-align: center;
    margin: 45px 0;
    font-size: 200%;
    color: #7b6cd5
}

#circle-container {
    width: 400px;
    height: 400px;
    padding: 30px;
   
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/yoga-class.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


/* Classes and Teachers  */

#yoga-class {
    text-align: center;
    margin: 45px 0 0 0;
    font-size: 200%;
    color: #7b6cd5

}
.trainings h2 {
    font-size: 20px;
    margin-top: 12px;
    color: #7b6cd5
    
}

.trainings p {
    letter-spacing: 2px;
    font-size: medium;
    margin-top: 12px;
    margin-bottom: 10px;
}

.line {
    margin: 20px 40px;
    padding-bottom: 40px;
    display: flex;
}

.trainings {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 45px;
        
}

.image-link {
    height: 300px;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 50%;
}

/* Footer */

footer {
      height: 150px;
    
     
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;

}

.social-networks i {
font-size: 160%;
margin: 1%;
padding: 5%;
color: #3a3a3a;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;

}

/* Form */

.form-section {
    clear: left;
    background: url("../images/form.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 450px;
    position: absolute;
    left: 10%;
    padding: 30px;
    
}
.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #7b6cd5;
}

.join-button{
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #7b6cd5;
    color: #fafafa;
    display:block;
    
}
.join-button:hover {
    background-color: #fafafa;
    color: #7b6cd5;
    
    
    
}

/* Media queries */

@media screen and (max-width: 1200px) {
    #club-yoga {
        width: 85%;
        height: 1200px;
        margin: auto;

    }

    #welcome {
        padding: 55px 0 40px 0;
        margin: 0;

    }
    
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
        
    }
    #times  {
        width: 90%;
        height: 1050px;
        margin: 0 auto;
        ;

}
    .line {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    
    #center-about {
      clear: both;
      width: 100%;
        float: left;
      padding: 0;

    }

    hr {
        display: none;
    }
    .left-about-heading , .right-about-heading {
        width: 100%;
        text-align: center;
       

    } 

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p {

        text-align: center;
        padding: 0 auto;
    }


/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px){

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-yoga {
        width : 90%;
        height: 1150px;
        margin: 0 auto;
    }
    .left-about-heading, .right-about-heading {
        width: inherit;
    }
    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p {

        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;

    }
      
    footer {
        height: 150px;
        position: absolute;
        width: 100%;
   }
/* For small screen sizes and down  */
    @media screen and (max-width: 800px)
    {
            #photos {
                column-count: 2;
                              
            }

    }
    